.moneybox_container {
  width: 23%;
  background-color: #edf2f9;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 6%);
  border-radius: 10px;
  position: relative;
  padding: 1.5rem;
  display: inline-block;

  @media only screen and (max-width: 1800px) {
    padding: 1.3rem;
  }
  @media only screen and (max-width: 1550px) {
    padding: 1rem;
  }

  .img {
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 2rem;

    @media only screen and (max-width: 1550px) {
      top: 25%;
    }
    @media only screen and (max-width: 1400px) {
      font-size: 1.5rem;
    }
  }

  .textfield {
    display: flex;
    flex-direction: column;

    p {
      font-size: 0.6rem;
      letter-spacing: 1px;
      margin: 0;
      color: #aaa;

      @media only screen and (max-width: 1550px) {
        font-size: 0.5rem;
      }
      @media only screen and (max-width: 1400px) {
        font-size: 0.46rem;
      }
    }

    .moneybox {
      display: flex;
      align-items: center;
      margin-top: 5px;
      h3 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 10px;

        @media only screen and (max-width: 1800px) {
          font-size: 1.3rem;
        }
        @media only screen and (max-width: 1550px) {
          font-size: 1.1rem;
        }
        @media only screen and (max-width: 1400px) {
          font-size: 1rem;
        }
      }
      p {
        background-color: rgba(23, 219, 23, 0.5);
        padding: 0.1rem 0.3rem;
        text-align: center;
        border-radius: 15px;
        margin-top: 10px;
        margin-left: 1rem;
        font-size: 0.6rem;
        color: #066706;

        @media only screen and (max-width: 1650px) {
          font-size: 0.5rem;
          margin-left: 0.7rem;
        }
        @media only screen and (max-width: 1400px) {
          font-size: 0.4rem;
          margin-left: 0.5rem;
        }
      }
      .warning {
        color: red;
        background-color: rgba(241, 69, 69, 0.5);
      }
    }
  }
}

.moneyforecast {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
